* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html, body{
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkModeContainer {
    background-color: #1C1C1C;
}

.box {
    width: 550px;
    height: 550px;
    background-color:#ECFDF5;
}

.darkModeBox {
    background-color:  #1F2937;
}



/* The switch - the box around the slider */
.switch {
    margin: 50px;
    left: 410px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



.title {
    margin-left: 52px;
}

h1 {
    letter-spacing: -0.025em;
}

.tittleOne {
    color: #2B283A;
}

.darkModeTittleOne {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tittleTwo {
    color: #10B981;
}

.darkModeTittleTwo {
    color: #4ADF86;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-weight:400 ;
    margin-left: 52px;
    color: #6B7280;
}


.darkModePText {
    color: #D5D4D8;
}


.generationArea {
    margin-top: 51px;
    width: 446px;
    display: flex;
    margin-left: 52px;
    justify-content: space-between;
    align-items: center;
}

h6, label {
    color: #6B7280;
}


.charOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
  }

#passwordLength {
    width: 100px;
    text-align: center;
    outline: none;
}

label {
    font-size:  .83em;
}

#generateButton {
    border: none;
    width: 191px;
    height: 42px;
    background-color: #4ADF86;
    color: #FFFFFF;
    border-radius: 6px;
}


button:hover {
    cursor: pointer;
}

hr {
    width: 446px;
    margin-left: 52px;
    margin-top: 30px;
    border: 1px solid #2F3E53;
  }

.result {
    display: flex;

}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 6px;
    margin-top: 39px;
    color: #55F991;
    font-weight: 500;
    font-size: 16px;
    cursor: text;
}



.option:active{
    cursor: copy;
}

.option:nth-child(1) {
    margin-left: 52px;
}

.option:nth-child(2) {
    margin-left: 24px;
}


footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
    color: #6B7280;
}

a {
    color: #4ADF86;
}